{% extends 'main/base.html' %} {% block body %}
<h1>Create a new Blog Right here!</h1>

{% if success %} Form Submitted Successfully! {%endif%}

<form method="POST">
    {% csrf_token %}
    <input type="text" name="title" id="title" placeholder="Enter Title Here" />
    <textarea name="content" id="content" placeholder="Enter Content of the Blog Here" cols="30"></textarea>
    <select name="author">
    {% for a in authors %}
    <option value="{{a.id}}">{{a}}</option>
    {%endfor%}
  </select>

    <button type="submit">Publish Blog</button>
    <button type="reset">Reset Blog Form</button>
</form>
{% endblock %}