{%extends 'base.html'%} {%block body%}{%include 'main/components/navBar.html'%}
<div class="container">
    <h4>{{question.content}}</h4>
    <div class="collection">
        {% for c in question.choice_set.all%}
        <div class="collection-item">
            <label>
        <input class="with-gap" name="group3" type="radio" />
        <span>{{c.content}}</span>
      </label>
        </div>
        {%endfor%}
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
    Submit Answer
  </button>
</div>
{%endblock%}