{% extends 'base.html' %} {%block body%} {% include 'navBar.html' %}
<div
  class="container"
  style="
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  "
>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{object}}</h1>
    </div>
    <table class="table table-hover" style="font-size: x-large">
      <tr>
        <td>Gender of Employee</td>
        <td>{{object.gender}}</td>
      </tr>
      <tr>
        <td>Department of Employee</td>
        <td>{{object.department}}</td>
      </tr>
      <tr>
        <td>Location of Employee</td>
        <td>{{object.department.location}}</td>
      </tr>
      <tr>
        <td>Salary of Employee</td>
        <td>{{object.salary}}</td>
      </tr>
      <tr>
        <td>Bonus of Employee</td>
        <td>{{object.bonus}}</td>
      </tr>
      <tr>
        <td>Role of Employee</td>
        <td>{{object.role}}</td>
      </tr>
      <tr>
        <td>Phone Number of Employee</td>
        <td>{{object.phoneNo}}</td>
      </tr>
      <tr>
        <td>Hiring Date of Employee</td>
        <td>{{object.hire_date}}</td>
      </tr>
    </table>
  </div>
</div>
{%endblock%}
