{% extends 'HelloWorld/base.html' %} {%block head%}
<!-- <script>
    alert("Hello!")
</script> -->
<style>
    .bold {
        font-weight: 1000;
    }
</style>{%endblock%} {% block body %} {% include 'HelloWorld/navBar.html' %}


<div class="container">
    <h4>
        Welcome to my very first Django Project!</h4>
    {%if show_Owner != True%}
    <!-- {{owner}} pwn this comment -->
    <span>Developed By : {{owner}}</span>{%endif%}
    <ul class="collection">
        {% for u in allUsers %}
        <li class="{% cycle 'bold' '' %} collection-item">{{u}}</li>
        {% endfor %}
    </ul>
</div>


{%endblock%}